.login-page{
  width:200%;
  height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.logoacceuil{
 
  width: 500px;
  background-image: url(../composant/assest/logoacceuil.png);
  opacity: 0.7;
  border-radius: 5%;
 
}
.login-box,.forgot-pass-box{
  width:40%;
  background-color: #f5f4f3;
  box-shadow: 0 0 10px rgb(65, 42, 13);
  box-sizing: border-box;
  padding: 20px 50px;
  height: 250px;
}

.login-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.login-page input{
  width: 130%;
  margin: 10px 0;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
}
.login-access{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.login-button{
  border-radius: 10px;
  background-color: #da9b62;
  color: bisque;
  font-size: 1.1em;
  width: 100%;
  height: 35px;
  outline: none;
}
.forgot-password{
  margin-top: 10px;
  color: #0069c0;
}
.forgot-password:hover{
  text-decoration: none;
  margin-top: 10px;
  color: #0069c0;
}
/*********************************************************************/
.forgot-pass-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.forgot-buttons{
  display: flex;
  justify-content:space-between ;
  flex-wrap: wrap;
}
.recovery-button{
  background-color: rgb(53, 53, 85) !important;
}
.cancel{
  height:37px;
  border:1px solid #0069c0;
  background-color: transparent;
  border-radius: 5px;
  padding: 0 20px;
}
.cancel:hover{
  height:37px;
  background-color: #0069c0;
  border-radius: 5px;
  padding: 0 20px;
}
.forgot-pass-input{
  width: 80% !important;
  border: 1px solid rgb(148, 101, 48);
  outline: none;
}

/* login page */
.imgfluid{
  max-width: 100%;
height: auto;
}
.login-block{
  float:left;
  width:100%;
  padding : 50px 0;
  }
  
  .container{background:#d3d3d3a2; border-radius: 10px; width: 80%; height: 80%;}
  .login-sec{padding: 50px 30px; position:relative;}
  .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
  .login-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-login{background: #0069c0; color:#fff; font-weight:600;}


  .bagroundcolor{
   
    background: url(../composant/assest/baground.jpeg) ;
  background-size: cover;
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
position:fixed;
  }
  
  .flex{
    display: flex;
justify-content: space-between;
width: 100%;

  }